@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --font-for-title: 'Bebas Neue', cursive; /*Main font-family for section title*/
    --main-red-color: rgb(244, 1, 6);
    --main-black-color: rgb(34, 35, 35);
    --main-gray-color: rgb(113, 116, 116);
    --main-white-color: rgb(255, 255, 255);
    --divider-gray-color:rgb(224, 224, 224);
    --countdown-border:#9b9b9b;
    --main-font-family: 'PT Sans', sans-serif;
    --subheading-color: rgba(255,255,255,0.62);
    --footer-bg-color:  #222323;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font-family) /*Main font-family on a page*/
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

header.section_header {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header.section_header > h2 {
    position: relative;
    font-size: 52px;
    line-height: 1.14;
    font-weight: 400;
    color: var(--main-black-color); 
    margin-bottom: 30px;
}

header.section_header > h2 > .dot--color {
    color: var(--main-red-color); 
}

header.section_header > h2:after {
    content:"";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -15px;
    height: 2px;
    width: 93.6px;
    transform: translate(-50%, -50%);
    background-color: var(--divider-gray-color); 
}

header.section_header > p {
    font-family: PT Sans,sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--main-gray-color); 
    text-transform: none; 
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text-brand-color, .dot--color {
    color: var(--main-red-color);
}
