@media (max-width: 900px) {
    body.lock {
        overflow: hidden;
    }

    .header__nav-logo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    z-index: 10;
    }

    .header__navigation-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
    }

    .header__navigation-burger span,
    .header__navigation-burger::before,
    .header__navigation-burger::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--main-white-color);
    transition: all 0.5s ease-in-out;
    }

    .header__navigation-burger span {
        transform: scale(1);
    }

    .header__navigation-burger::before,
    .header__navigation-burger::after {
        content: " ";
    }

    .header__navigation-burger::before {
        top: 0;
    }

    .header__navigation-burger::after {
        bottom: 0;
    }

    .header__navigation-burger.active span {
        transform: scale(0);
    }

    .header__navigation-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .header__navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }

    .header {
        position: relative;
    }

    .header__nav .header__navigation-burger-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-black-color);
        z-index: 2;
        transition: top 0.3s ease-in;
        padding: 15px 24px 50px 24px;
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }

    .header__nav .header__navigation-burger-wrapper.active {
        top: 0;
    }

    .header__nav.active {
        top:0;
    }

    .header__nav-links {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;
    }

    .navigation-link {
        color: var(--main-white-color);
    }

    .navigation-link:hover {
        color: var(--main-white-color);
        text-decoration: underline;
    }
}