@import url(common.css);
.keep-fit {
background-image: url(../img/keep-fit/keep-fit.jpg);
background-size: cover;
background-position: 70% 20%;
display: flex;
height: 100vh;
width: 100%;
}
    
.container{
display: flex;
justify-content: flex-end;
align-items: center;
}
    
.keep-fit__workout {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 90%;
}
    
.keep-fit__workout__heading, .keep-fit__workout__subheading {
font-family: var(--font-for-title);
}
    
.keep-fit__workout__subheading {
font-size: 22px;
color: var(--subheading-color);
}
    
.keep-fit__workout__heading {
font-size: 60px;
color: var(--main-white-color);
letter-spacing: 1px;
}
    
.keep-fit__workout__list__icon, .keep-fit__workout__paragraph, .keep-fit__workout__button a{
font-family: var( --main-font-family);
color: var(--main-white-color);
}
    
.keep-fit__workout__list{
display: flex;
flex-direction: column;
}
    
.keep-fit__workout__list__icon{
display: flex;
margin: 10px 0;
}
    
.keep-fit__workout__list__icon p{
font-weight: bold;
font-size: 16px;
margin-left: 10px;
}
    
.keep-fit__workout__icon {
height: 24px;
width: 20px;
}
    
.keep-fit__workout__paragraph__text {
display: flex;
font-size: 20px;
line-height: 30px;
margin: 10px 0 25px 0;
}
    
.keep-fit__workout__button {
display: flex;
align-self: flex-start;
border: 2px solid var(--main-white-color);
}
    
.keep-fit__workout__button a{
display: block;
padding: 15px 35px;
font-weight: bold;
font-size: 16.5px;
text-transform: capitalize;
}
    
.keep-fit__workout__button:hover {
background-color: var(--main-white-color);
}
    
.keep-fit__workout__button a:hover {
color: var(--main-black-color);
}

@media (min-width: 330px) {
    .keep-fit__workout__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .keep-fit__workout__list__icon p{
        margin-right: 20px;
    }
}
@media (min-width: 768px) {
    .keep-fit__workout {
        display: flex;
        flex-basis: 50%;
        padding: 0 40px;
    }
    .keep-fit__workout__subheading{
        font-size: 23px;
    }
    .keep-fit__workout__heading{
        font-size: 83px;
    }
}
@media (min-width: 992px) {
    .keep-fit__workout__heading{
        font-size: 110px;
    }
}