
.new-arrivals{
    display:flex;
    flex-direction: column;
    padding:10px;
    margin: 50px auto;
    color:var(--main-black-color);
    box-sizing:border-box;
    max-width: 1200px; 
    min-height: 40vh;
}
.new-arrivals_text{
    padding: 0 32px;
    display:flex;
    flex-direction:column;
}
.new-arrivals_text__title{
    line-height: 3rem;
    font-size: 3.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight:lighter;
}
.highlighter{
    color:var(--main-red-color)
}
.underline{
    border-bottom: solid 2px var(--divider-gray-color);
    width:25%;
    max-width: 200px;
    margin :15px 0;
}
.new-arrivals_text__description{
    line-height: 30px;
    margin-bottom:10px;
}
.new-arrivals_text__button{
    display:block;
    border : 2px solid var(--main-black-color);
    color: var(--main-black-color);
    max-width: 120px;
    line-height:2.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom:30px;
    background-color:transparent;
    transition: all ease 0.3s ;
}
.new-arrivals_text__button:hover{
    background: var(--main-black-color);
    color: var(--main-white-color);

}
.new-arrivals_carousel{
    display:grid;
    grid-template-columns: 1fr;
    gap:16px;
    width:100%;
}
.new-arrivals-products{
    position:relative;
}
.new-arrivals-product{
    display:flex;
    flex-direction:column;
}
.product-name{
padding:10px 0;
min-height: 88px;
}
.product-name p{
  color:var(--main-black-color)
    }
.product-price-container{
    color:var(--main-red-color);
    font-weight: bold;
}
.new-arrivals-button{
    display:block;
    background: var(--main-black-color);
    border:none;
    color: var(--main-white-color);
    width: 20%;
    top:40%;
    min-width: 120px;
    line-height:2.5rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-top:30px;
    transition: ease all 0.3s ;
}
.new-arrivals-button:hover{
    background: var(--main-red-color);
}
 @media screen and (min-width: 640px){
    .new-arrivals_carousel{
        grid-template-columns: 1fr 1fr;   
    }
}
@media screen and (min-width: 960px){
    .new-arrivals{
    flex-direction: row;
    justify-content: space-between;
    }
    .new-arrivals_text{
        justify-content: space-around;
        max-width:260px;
    }
    .new-arrivals_carousel{
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .new-arrivals-products{
        flex:1;
    }
}
@media screen and (min-width: 1100px){
    .new-arrivals_carousel{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* Стилі для js */
.hidden-product{
    display:none;
}
.visible-product{
    display:flex;
}
.first-slide{
    grid-column:1;
    grid-row:1;

}
.second-slide{
    grid-column:2;
    grid-row:1;

}
.third-slide{
    grid-column:3;
    grid-row:1;

}
.fourth-slide{
    grid-column:4;
    grid-row:1;
}
/* Кнопки для каруселі */
.new-arrivals-arrow {
        height: 40px;
        width: 40px;
        display: block;
        top:30%;
        border: 1px solid var(--main-gray-color);
        position: absolute;
        border-radius: 15%;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        overflow: hidden;
   }
    .arrow-slide {
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background: var(--main-gray-color);
        position: absolute;
        display: block;
        z-index: 0;
   }
    .left-arm {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 3px;
        width: 20px;
        display: block;
        transform: rotate(-45deg);
   }
    .left-arm:after {
        content: "";
        background-color: var(--main-black-color);
        width: 20px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: right center;
        z-index: -1;
   }
    .right-arm {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 17px;
        width: 20px;
        display: block;
        transform: rotate(45deg);
        border-radius: 2px;
   }
  .right-arm:after {
        content: "";
        background-color: var(--main-black-color);
        width: 20px;
        height: 1px;
        display: block;
        border-radius: 1px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
        transform-origin: left center;
        z-index: -1;
   }
   .new-arrivals-arrow:hover {
        transition: all 0.1s;
   }
   .new-arrivals-arrow:hover .left-arm:after {
        transform: rotate(-10deg);
   }
   .new-arrivals-arrow:hover .right-arm:after {
        transform: rotate(10deg);
   }
   .new-arrivals-arrow:hover .arrow-slide {
        transition: all 0.4s ease-in-out;
        transform: translateY(200%);
   }   
    .new-arrivals_carousel_arrow-right{
        right: 5px; 
        transform:rotate(90deg);
      }  
      .new-arrivals_carousel_arrow-left{
        left: 5px;  
        transform:rotate(-90deg);
      } 
    .product-price-container{
        display: flex;
    }